[submodule "Gngine/vendor/spdlog"]
	path = Gngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Gngine/vendor/GLFW"]
	path = Gngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
